<h1>Deferred Revenue Schedule</h1>

<table class="table">
  <thead>
    <th>Date</th>
    <th>Invoice Number</th>
    <th>Customer Name</th>
    <th>Maintenance Start</th>
    <th>Maintenance End</th>
    <th>Invoiced</th>
    <th>Previous Year</th>
    <th>Jan</th>
    <th>Feb</th>
    <th>Mar</th>
    <th>Apr</th>
    <th>May</th>
    <th>Jun</th>
    <th>Jul</th>
    <th>Aug</th>
    <th>Sep</th>
    <th>Oct</th>
    <th>Nov</th>
    <th>Dec</th>
    <th>Following Year</th>
  </thead>
  <tbody>
    <% @entries.each do | entry | %>
    <tr>
      <td><%= entry.date %></td>
      <td><%= entry.invoice_number %></td>
      <td><%= entry.customer_name %></td>
      <td><%= entry.maint_start %></td>
      <td><%= entry.maint_end %></td>
      <td><%= entry.amount_paid %></td>
      <td><%= entry.prev_accrual_total %></td>
      <% unless entry.accruals.nil? %>
      <td><%= entry.accruals[0] || 0%></td>
      <td><%= entry.accruals[1] || 0%></td>
      <td><%= entry.accruals[2] || 0%></td>
      <td><%= entry.accruals[3] || 0%></td>
      <td><%= entry.accruals[4] || 0%></td>
      <td><%= entry.accruals[5] || 0%></td>
      <td><%= entry.accruals[6] || 0%></td>
      <td><%= entry.accruals[7] || 0%></td>
      <td><%= entry.accruals[8] || 0%></td>
      <td><%= entry.accruals[9] || 0%></td>
      <td><%= entry.accruals[10] || 0 %></td>
      <td><%= entry.accruals[11] || 0%></td>
      <% end %>
      <td><%= entry.next_accrual_total %></td>

    </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "Download CSV", entries_url(format: "csv"), class: "btn btn-info"%></p>

<h2>Import Entries</h2>

<%= form_tag import_entries_url, multipart: true do %>
<table>
  <tr>
    <td><%= file_field_tag :file, class: "btn btn-default" %></td>
    <td><%= submit_tag "Import", class: "btn btn-info" %></td>
  </tr>
</table>
<% end %>

<h2>Accrue</h2>
<%= form_tag '/accrue' do %>
  <%= label_tag "Year to Accrue" %>
  <%= text_field_tag "accrual_year", Time.new.year %>
  <%= submit_tag "Accrue", class: "btn btn-info" %>
<% end %>

<br />

<h2>Clear Data</h2>
<%= button_to "Clear it all?", clear_entries_url, method: :delete, class: "btn btn-danger btn-lg" %>